In [2]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# Convert generator expression to tuple
numbers = tuple(x**2 for x in range(5))
print(numbers)  # (0, 1, 4, 9, 16)
# Parentheses create generator, not tuple

(0, 1, 4, 9, 16)

In [4]:
# This creates a generator object, not a tuple
gen = (x**2 for x in range(5))
print(type(gen))  # <class 'generator'>

# Convert to tuple
result = tuple(gen)
print(result)  # (0, 1, 4, 9, 16)
print(type(result))  # (0, 1, 4, 9, 16)

<class 'generator'>
(0, 1, 4, 9, 16)
<class 'tuple'>

In [5]:
t1=(2,3,4)
t2=(5,6,7)
print(tuple(zip(t1,t2)))

((2, 5), (3, 6), (4, 7))

In [6]:
# add data in tuple
t1=(2, 3, 4)
t1=t1+(5,)
t1

(2, 3, 4, 5)

In [9]:
# example of set comprehension
s={x**x for x in range(5)}
s

{1, 4, 27, 256}

In [20]:
d=dict(((1,'a'),(2,'b')))
d2=dict({(11,'a'),(12,'b')})
print(d)
print(d2)

{1: 'a', 2: 'b'}
{11: 'a', 12: 'b'}

In [22]:
x=d.update(d2,)
d

{1: 'a', 2: 'b', 11: 'a', 12: 'b'}

In [18]:
x

In [23]:
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3, 4, 5))  # 15
print(sum_all(10, 20))          # 30

15
30

In [24]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=30, city="New York")
# name: Alice
# age: 30
# city: New York

name: Alice
age: 30
city: New York

In [25]:
def calculate(a, b, c, operation="add"):
    if operation == "add":
        return a + b + c
    elif operation == "multiply":
        return a * b * c

# Unpacking list/tuple with *
numbers = [5, 10, 15]
result1 = calculate(*numbers)  # Same as calculate(5, 10, 15)

# Unpacking dict with **
params = {"a": 2, "b": 3, "c": 4, "operation": "multiply"}
result2 = calculate(**params)  # Same as calculate(a=2, b=3, c=4, operation="multiply")

print(result1)  # 30
print(result2)  # 24

30
24

In [30]:
# example of lambda function
x=lambda *awrg:sum(awrg)
print(x(2,3,4,5,6,7,8,9,10))

54

In [33]:
# use of map function
nums = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, nums))
squared

[1, 4, 9, 16, 25]

In [34]:
evens = list(filter(lambda x: x % 2 == 0, nums))
evens

[2, 4]

In [36]:
# example og reduce function
from functools import reduce
product = reduce(lambda x, y: x * y, nums)
product

120